// 布局
.layout-section-container {
  width: $layout-width;
  margin: 0 auto;

  .layout-main-container {
    float: left;
    width: 910px;
  }
  .layout-sideBar-container {
    float: right;
    width: 345px;
    transition: all .5s ease-in;
  }
  @include clearfix
}

// 标题
.layout-conent-title {
  height: 46px;
  line-height: 46px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  font-size: 16px;
  display: flex;
  align-items: center;
  .title-text {
    border-left: 6px solid #61cab8;
    height: 20px;
    padding-left: 10px;
    line-height: 20px;
    transition: all 0.4s;
  }
  &:hover {
    .title-text {
      border-left: 6px solid #ff855b;
    }
  }
  .boot-page {
    display: flex;
    a {
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
// sideBar 标题
.layout-sideBar-title {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
  i {
    color: #ff0000;
    padding-right: 10px;
  }

  text-shadow: 0 1px 3px rgba(88, 88, 88, .1);
}