<div class="home-page-contaner">
  <x-header/>
  <section class="layout-section-container">
    <div class="layout-main-container bounceInLeft animated">
      <div class="news-info-header">
        <h1 class="news-info-title">
          <a class="activity">宝宝相册</a>
          <span class="tit">美沙子带你逛日本Lo娘茶会！【vlog】</span>
        </h1>
        <div class="news-info-data">
          <span>2020-03-22 17:29:11</span>
        </div>
      </div>
      <div class="news-info-wrap">
        <div class="news-info-wrap-icon">
          <img src="~@/assets/imgs/home/time-bg.jpg" alt="">
        </div>
      </div>
      <div class="news-info-desc">
        <div class="info open">
          怪我台词太差，姥爷根本不上当，甚至轻松反杀...自己回听感觉自己也太蠢了！哪有骗子劝人别吃剩菜的！！！
          微博：@摸鱼能手邓大头
        </div>
      </div>
      <div class="news-info-comment">
        <div class="comment-head">
          <span class="comment-head-t">470</span>
          <span class="comment-head-t">评论</span>
        </div>
        <!-- <div class="comment-header">
          <div class="header-page">分页</div>
        </div> -->
        <div class="comment-send">
          <div class="user-face">
            <img class="user-head" src="~@/assets/imgs/home/time-bg.jpg" />
          </div>
          <div class="textarea-container">
            <textarea name="msg" id="" cols="80" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
            <button class="comment-submit">发表评论</button>
          </div>
          <div class="comment-emoji">
            <i class="fa fa-smile-o"></i>
            <span>表情</span>
          </div>
        </div>
        <div class="comment-list">
          <div class="list-item">
            <div class="user-face">
              <img class="user-head" src="~@/assets/imgs/home/time-bg.jpg" />
            </div>
            <div class="user-desc">
              <div class="user"><span>隐约谎言</span></div>
              <div class="text">
                <span>姥爷是不是都烦你了</span>
              </div>
              <div class="info">
                <span class="plad">来自 PC客户端</span>
                <span calss="time">2020-03-24 17:47</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <x-sidebar></x-sidebar>
  </section>
  <x-footer/>
</div>